@using System.Activities.Expressions
@model TadaEntryWebApp.Models.Tada

@{
    ViewBag.Title = "Save";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Save TADA</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body>
    <header>                    @* Using Simple Navigation bar to navigate pages. Didn't use any theme for simplicity*@
        <div class="container">
            @*<div class="logoo">
                <a href="#"><img src="~/uatech_logo.png" alt=""/></a>
            </div>*@
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="../Tada/Save">Save TADA</a></li>
                        <li><a href="../Tada/Show">View TADA History</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br/>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupForm" }))
    {
        <div align="center">
            <fieldset style="width: 60%">
                <legend>TADA Entry</legend>

                <table>
                    <tr>
                        <td>@Html.LabelFor(x => x.Date)</td>
                        <td>
                            @Html.TextBoxFor(x => x.Date)
                            @Html.ValidationMessageFor(x => x.Date)
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(x => x.EmployeeId)</td>
                        <td>
                            @Html.DropDownListFor(x => x.EmployeeId, new SelectList(ViewBag.Employees, "Value", "Text"), new{style="width: 174px"})
                            @Html.ValidationMessageFor(x => x.EmployeeId)

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.TravelCost)</td>
                        <td>
                            @Html.TextBoxFor(x => x.TravelCost)
                            @Html.ValidationMessageFor(x => x.TravelCost)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.LunchCost)</td>
                        <td>
                            @Html.TextBoxFor(x => x.LunchCost)
                            @Html.ValidationMessageFor(x => x.LunchCost)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.InstrumentCost)</td>
                        <td>
                            @Html.TextBoxFor(x => x.InstrumentCost)
                            @Html.ValidationMessageFor(x => x.InstrumentCost)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(x => x.IsPaid)</td>
                        <td>
                            @Html.DropDownListFor(x => x.IsPaid, new SelectList(ViewBag.IsPaid, "Value", "Text"), new { style = "width: 174px"})
                            @Html.ValidationMessageFor(x => x.IsPaid)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="submit"/></td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.messege != null)
                            {
                                <label><b>@ViewBag.messege</b></label>
                            }
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
    }
    
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <script>
        $('#Date').datepicker({                         /*Function Call for Datepicher and other Customization*/
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            clearBtn: true,
            daysOfWeekHighlighted: "5",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
    </script>

</body>
</html>