@using TadaEntryWebApp.Models
@model List<TadaEntryWebApp.Models.TadaHistory>
@{
    ViewBag.Title = "Show";
    Layout = null;
    List<TadaHistory> tadaHistories = Model.ToList();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>TADA History</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />  
    <link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
    <link href="~/Content/dataTables.tableTools.min.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <div class="container">
            @*<div class="logoo right">
                <a href="#"><img src="~/uatech_logo.png" /></a>
            </div>*@
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="../Tada/Save">Save TADA</a></li>
                        <li><a href="../Tada/Show">View TADA History</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <div align="center" >
        <fieldset style="width: 80%">
            <legend>TADA History</legend>

            <table id="example" class="display" style="width: 90%">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Travel Cost</th>
                    <th>Lunch Cost</th>
                    <th>Instrument Cost</th>
                    <th>Total Cost</th>
                    <th>Is Paid</th>
                </tr>
                </thead>
                <tbody>
                @foreach (TadaHistory tadaHistory in tadaHistories)
                {
                    <tr>
                        <td>@tadaHistory.Date</td>
                        <td>@tadaHistory.Name</td>
                        <td>@tadaHistory.TravelCost</td>
                        <td>@tadaHistory.LunchCost</td>
                        <td>@tadaHistory.InstrumentCost</td>
                        <td>@tadaHistory.TotalCost</td>
                        <td>
                            @{
                                if (tadaHistory.IsPaid)
                                {
                                    <input data-id="@tadaHistory.Id" class="toggle-class" type="checkbox"
                                           data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Paid"
                                           data-off="Unpaid" checked>
                                }
                                else
                                {   
                                    <input data-id="@tadaHistory.Id" class="toggle-class" type="checkbox"
                                           data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Paid"
                                           data-off="Unpaid">
                                }
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </fieldset>
    </div>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script src="~/Scripts/dataTables.tableTools.min.js"></script>

    
    
    <script>
        $(document).ready(function () {     
            var table = $('#example').DataTable({   /*  Function call to use JQuery Datatable*/
                "order": []      /* to Leave unsorted, set order:[] */
            });
            var tableTools = new $.fn.dataTable.TableTools(table, {           /*  Function call for pdf download*/
                'sSwfPath': '//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf',
                'aButtons': ['print','pdf']
            });
            $(tableTools.fnContainer()).insertAfter('#example_wrapper');


            $('.toggle-class').change(function(){        /*ajax code to update Is Paid Status*/
                var tadaHistoryId = $(this).data('id');
                var json = { tadaHistoryId: tadaHistoryId }
                $.ajax({
                    type:"POST",
                    url: '@Url.Action("UpdateIsPaid","Tada")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success : function(data) {
                        console.log(data.success);
                    }
                });
            });
        });
    </script>

</body>
</html>
